docs/site/
data/
# OSX Junk
.DS_Store
:

# test cache
.cache/*
tests/__pycache__/*
*.pytest_cache/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints

#data
data/*

#pyc
*/aup/__pycache__/*
*.pyc

#logs
*.log
aup.egg-info/

#docker
*.js
*.gitattributes
*.devcontainer
